{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1> Новости  </h1>
   <hr>
      <table>
          <tr>
               <td>Заголовок</td>
               <td>Дата публикации<td>
               <td>Содержание </td>
               <td>Категория </td>
           </tr>

           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ News.name_post }}</td>
               <td>{{ News.data_post }}</td>
               <td>{{ News.text_post }}</td>

               <td>{{ cat.name_category }}</td>
           </tr>
           {% endfor %}

{% endblock content %}